/* @font-face {
    font-family: 'True Crimes';
    src: url('./fonts/TrueCrimes.woff2') format('woff2'),
        url('./fonts/TrueCrimes.woff') format('woff'),
        url('./fonts/TrueCrimes.ttf') format('truetype'),
        url('./fonts/TrueCrimes.svg#TrueCrimes') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

/* font-family: 'Creepster', cursive;
font-family: 'Spartan', sans-serif; */

body {
    background-color: #443835;
}

#header h1 {
    font-family: 'Spartan', sans-serif;
    font-weight: 900;
    font-size: 2em;
    color: #f3eec7;
}

#header h2 {
    font-family: 'Creepster', cursive;
    font-size: 8em !important;
    color:#c7614d !important;
    text-shadow: 5px 5px black;
    letter-spacing: .1em;
    overflow-wrap: break-word;
} 

#header h3 {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #f3eec7;
    font-feature-settings: "ss01" 1;
}

h2 { 
    font-family: 'Creepster', cursive;
    font-size: 5em !important;
    color:#c7614d !important;
    text-shadow: 2px 2px black;
    letter-spacing: .1em;
    overflow-wrap: break-word;
}
